<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/amit1/OneDrive/Desktop/Java/TestNG/src/test/java/Selenium/Topic21_TestNGPageObjectModePattern">
        <classes>
            <class name="Selenium.Topic21_TestNGPageObjectModePattern.LoginTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>