<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/amit1/OneDrive/Desktop/Java/TestNG/src/test/java/Selenium/Topic16_TestNGIntegrationAndSetupTestAnnotation"><classes><class name="Selenium.Topic16_TestNGIntegrationAndSetupTestAnnotation.FirstTestCase"><methods><include name="OpenApp"/><include name="Login"/><include name="Logout"/><include name="OpenApp1"/><include name="Login1"/><include name="Logout1"/></methods></class><class name="Selenium.Topic16_TestNGIntegrationAndSetupTestAnnotation.OrangeHRMTest"><methods><include name="OpenApp"/><include name="Logo"/><include name="LogiN"/><include name="Logout"/></methods></class></classes></test></suite>